* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
}
h2 {
  font-weight: 800;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#nav_logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s ease;
}

#nav_logo span {
  padding-right: 10px;
}

#nav_logo:hover {
  transform: scale(1.075) translateY(-1.5px);
  transition: 0.2s ease;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item {
  height: 80px;
}

.nav_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ff4e50;
  background: -webkit-linear-gradient(to right, #f9d423, #ff4e50);
  background: linear-gradient(to right, #f9d423, #ff4e50);
  color: #131313;
  transition: all 0.3s ease;
}

.nav_links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 13000px;
    padding: 0;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: #131313;
  }

  .nav_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #nav_logo {
    padding-left: 25px;
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #fff;
  }

  .nav_item {
    width: 100%;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: enter;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
    z-index: -1;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    transform: rotate(180deg);
    opacity: 0;
  }
}

.hero {
  background: black;
  background: linear-gradient(to right, #161616, black);
  padding: 200px 0;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero_heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.hero_heading span {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.hero_subheading {
  font-size: 60px;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.highlight {
  transition-duration: 1s ease-in-out;
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
  .hero_heading {
    font-size: 60px;
  }

  .hero_subheading {
    font-size: 40px;
  }
}

/* About Section */
.main {
  background-color: #131313;
  padding: 10rem 0;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content h1 {
  color: #fff;
  font-size: 2rem;
  width: 100%;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main_content h2 {
  font-size: 4rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
}

.main_btn {
  font-size: 1.8rem;
  background: #ff4e50;
  background: -webkit-linear-gradient(to right, #f9d423, #ff4e50);
  background: linear-gradient(to right, #f9d423, #ff4e50);
  margin: 30px 0;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #131313;
  font-weight: 400;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f9df74;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;
}

.main_btn:hover:after {
  width: 100%;
}

.main_img-container {
  margin: 0 50px;
  height: 500px;
  width: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  text-align: center;
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main_img-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .main_img-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .highlight {
    border: none;
    /* border-bottom: 4px solid rgb(132, 0, 255); */
  }
}

@media screen and (max-width: 480px) {
  .main_img-card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main_content h1 {
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 2rem;
  }

  .main_content p {
    margin-top: 1rem;
  }

  .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
    width: 100%;
  }
}

/* Services Section */
.services {
  /* background: #131313; */
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  position: relative;
}

.services h1:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.12);
  top: 0;
  z-index: 0;
}

.services_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services_card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services_card:nth-child(2) {
  background: #00c3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services_card:nth-child(3) {
  background: #2196f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f44336,
    #2196f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f44336,
    #2196f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services_card:nth-child(4) {
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services_card h2 {
  text-align: center;
  font-size: 1.5rem;
}

.services_card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services_btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  flex-direction: column;
}

.services_btn button {
  margin-bottom: 16px;
  align-self: center;
  width: 60%;
  transition: 0.2s ease;
}

.services_btn button:hover {
  transform: scale(1.075);
  transition: 0.2s ease;
}

.services_card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services_card button:hover {
  cursor: pointer;
}

.services_card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services_wrapper {
    grid-template-columns: 1fr;
  }
}

.footer_container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer_links {
  width: 100%;
  max-width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_link-wrapper {
  display: flex;
}

.footer_link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_link-items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer_link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer_link-items a:hover {
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.social_icon-link {
  color: #fff;
  font-size: 24px;
}

social_media {
  max-width: 1000px;
  width: 100%;
}

social_media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website_rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer_links {
    padding-top: 2rem;
  }

  #footer_logo {
    margin-bottom: 2rem;
  }

  .website_rights {
    margin-bottom: 2rem;
  }

  .footer_link-wrapper {
    flex-direction: column;
  }

  social_media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer_link-items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
